body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
  line-height: 20px;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:hover {
  color: #b24d53;
  text-decoration: none;
}
/* Fim estilos gerais */

/* Header */
.header {
  background: #040505;
}

.header .navbar {
  background: #040505 !important;
  font-weight: bold;
  padding: 15px 0px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.header .navbar img {
  width: 100px;
}

.header_area {
  padding: 20px;
}
.tituloFav {
  color: #ffffff;
}
.body {
  background-color: #131212;
}
/* Fim Header */


/* Main */
.main {
  padding-top: 20px;
}

ul .list-group-item {
  cursor: pointer;
}

.card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 5px;
  border: none;
}

.card-informacoes h5 {
  font-size: 18px;
}

.btn-danger {
  color: #ffffff;
  background-color: #b24d53;
  border-color: #b24d53;
}
/* Fim Main */