/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
  line-height: 20px;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:hover {
  color: #b24d53;
  text-decoration: none;
}

/* Login */
.text-info {
  color: #b24d53 !important;
}
.btn-info {
  color: #040505;
  background-color: #b24d53;
  border-color: #b24d53;
}
/* Fim estilos gerais */

/* Header */
.header {
  background: #040505;
}

.header .navbar {
  background: #040505 !important;
  font-weight: bold;
  padding: 15px 0px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.header .navbar img {
  width: 100px;
}

.header_area {
  padding: 20px;
}
/* Header Final */

.carousel-inner img {
  height: 600px;
  padding-bottom: 20px;
}

/* Main */
.body {
  background-color: #131212;
}
.modal-body,
.modal-title {
  color: black;
}

.padrao {
  height: 178.96px;
}

.cards {
  padding-bottom: 20px;
  display: flex;

  justify-content: center;
}
.card {
  color: #ffffff;
}
.card-title {
  justify-content: center;
}
.adicionaCard {
  text-align: center;
  margin-bottom: 10px;
}

/* Main Final */

/* Footer */
.footer {
  background: #040505;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #e0e1e7;
}

.footer h2 {
  color: #b24d53;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer_copy {
  text-align: center;
  padding-top: 20px;
}

.footer .sobre p {
  margin-bottom: 1rem;
}

.footer .contato {
  padding-bottom: 15px;
}
/* Footer Final */

/* media queries */
@media screen and (max-width: 767px) {
  .carousel {
    display: none;
  }
  .cards-main {
    margin-top: 10px;
  }
  .menu {
    display: none;
  }
  .menu-mobile {
    width: 100%;
    height: 100px;
    background-color: #040505;
    color: white;
  }
  #menu-icone {
    display: none;
  }
  #icone {
    font-size: 2.5em;
    position: absolute;
    right: 20px;
    color: #b24d53;
    z-index: 9999;
  }
  #icone-fechar {
    font-size: 2.5em;
    position: absolute;
    right: 20px;
    color: #b24d53;
    z-index: 9999;
    display: none;
  }

  .btn-primary {
    background-color: #b24d53 !important;
    border: #b24d53 !important;
  }
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}
