/*Header*/
.header {
  background: rgb(207, 76, 76);
}
/*Header Final*/

/*Main*/

.padrao {
  height: 178.96px;
}
.cards {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.card {
  border: none;
}

/*Main Final*/

/*Footer*/
.footer {
  background: rgb(76, 76, 199);
}
/*Footer Final*/
